.main {
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    text-align: left;
}

.name {
    font-size: 1.25em;
    font-weight: bold;
    text-align: left;
    padding: 10px 10px 0px;
}

.companyName {
    font-size: 1.25em;
    text-align: left;
    padding: 0px 10px 0px;
}

.cardlist { 
    margin: 1em;
}

.card {
    display: inline-block;
    margin-left: 10;
    text-align: left;
}
